
.chat-container {
    width: 85%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 95vh;
    background-color: #FAF9F4;
    
    
  }
  
  

  
 
  @media (max-width: 768px) {
    
    .chat-container {
       
      width: 100%;
      
    }
    .chat-input{
        width: 85%;
    }
    
  }  




 